/* Copyright.css */

.license-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 100%; /* Extend to the full width of the container */
  margin: 0; /* Remove margin to stretch edge to edge */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* Center content horizontally */
}

.license-content {
  max-width: 800px; /* Adjust as needed */
  text-align: center; /* Center text inside the wrapper */
}

h1 {
  color: #2c3e50;
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  color: #7f8c8d;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
}
